@import url('https://fonts.googleapis.com/css2family=Noto+Sans+TC:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@mixin pad{
  @media (max-width:675px){
    @content;
  } 
}

// @mixin phone{
//   @media (max-width: 375px){
//     @content;
//   } 
// }

*, *::before, *::after {
    box-sizing: border-box;
}

body {
  color: #243456;
  line-height: 1.5;
  font-family: "Noto Sans TC", sans-serif;
  background: #fff;
}

a {
  display: block;
  color: #243456 ;
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.ff-r{
  font-family: "Roboto";
}
.f-xxs{
  font-size: 14px;  
}
.f-xs{
  font-size: 16px;
}
.f-s{
  font-size: 20px;
}
.f-m{
  font-size: 24px;
}
.f-l{
  font-size: 28px;
}
.f-xl{ 
  font-size: 32px;
}
.f-xxl{ 
  font-size: 80px;
}
.f-xxxl{
  font-size: 120px;
} 
.lh-s{
  line-height: 1.2;
}
.lh-m{
  line-height: 1.5;
}
.fw-400{
  font-weight: 400;
}
.fw-700{ 
  font-weight: 700;
}
.fc-w{
  color: #fff;
}
.header{
  display: flex;
  justify-content: space-between;
  margin: 16px 80px;
  @include pad {
    margin: 16px 24px; 
  }

  a{
    display: inline;
    margin: 8px;
    &:hover{
      padding: 0 0 10px 0;
      border-bottom: 2px solid #243456;
    }
  }
  .list{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    li{
      margin-left: 16px;
    }
    @include pad {
      display:none;  
    }
  }
  .dot{
    width:5px;
    height:5px; 
    border-radius:999em;
    background: #243456;
  }
}

.banner{
  margin: 156px 0 200px 191px;
  position: relative;
  @include pad {
    margin: 80px 0 80px 24px;
  }
  h2{
    @include pad {
      font-size: 56px;
    }
  }
}

.banner-title{
  margin: 8px 0 0 71px;
  z-index: 2;
  position: absolute;
  @include pad {
    margin: 8px 0 0 0;
  }
}

.name{
  margin: 200px 0 0 71px;
  @include pad {
    font-size: 28px;
    margin: 160px 0 24px 0;
  }
}

.round-m{
  z-index: 1;
  position: absolute;
  top: -32px;
  left: 520px;
  width: 472px;
  height: 472px; 
  border-radius:999em;
  background: #243456;
  @include pad {
    top: 30px;
    left: 208px;
    width: 144px;
    height: 144px; 
    overflow: hidden;
  }
}

.round-s{
  z-index: 1;
  position: absolute;
  top: -88px;
  left: 960px;
  width: 90px;
  height: 90px; 
  border-radius:999em;
  background: #243456;
  @include pad {
    display:none;  
  }
}

.body-about{
  min-height: 398px;
  margin-top: 126px;
  background: #F4F6FB;
  @include pad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.body-title{
  display: flex;
  h2{
    margin: 80px 0 0 142px;
  }
  .title-dot{
    margin: 142px 0 0 16px;
    width: 15px;
    height: 15px; 
    border-radius:999em;
    background: #243456;
  }
  .dot2{
    background: #fff;
  }
  @include pad {
    h2{
      margin: 56px 0 0 0 ;
      font-size: 56px;
    }
    .title-dot{
      margin: 98px 0 0 8px;
      width: 10px;
      height: 10px; 
    }
  }
}

.about-content-list{
  max-width: 616px;
  margin: 0 191px 120px 633px;
  li{
    margin-bottom: 24px;
  }
  @include pad {
    margin: 48px 0 56px 0 ;
    max-width: 342px;
  }
}
.body-skill{
  @include pad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.skill-card-list{
  display: flex;
  justify-content: center;
  @include pad {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.skill-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 120px;
  p{
    margin-bottom: 16px;
  }
  .title{
    padding: 16px;
    border-bottom: #243456 solid 1px;
  }
  @include pad {
    margin: 48px 0 0 0;
    p{
      font-size: 16px;
    }
    .title{
      font-size: 20px;
    }
  }
}

.body-portfolio{
  margin-top: 126px;
  background: #243456;
  @include pad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.portfolio-card-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  @include pad {
    margin-top: 48px;
  }
}

.portfolio-card{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 1154px;
  padding: 48px;
  margin: 80px 0 80px 0;
  border-radius: 60px;
  background: #fff;
  @include pad {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    margin: 0 24px 48px 24px;
    border-radius: 30px;
  }
}

.card-img{
  max-width: 552px;
  max-height: 415px;
  border-radius: 50px;
  overflow: hidden;
  img{
  max-width: 100%;
  }
  img:hover {
    transform: scale(1.15);
    transition-duration: 0.3s;
  }
  @include pad {
    border-radius: 30px;
    max-width: 342px;
    max-height: 410px;
    img{
      border-radius: 20px;
    }
  }
}

.content-list{
  max-width: 450px;
  margin-left: 56px;
  @include pad {
    margin: 24px 0 0 0;
    max-width: 294px;
  }
}

.card-title{
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  @include pad {
    flex-direction: column;
    justify-content: center;
   H6{
    font-size: 18px;
    margin-bottom: 8px;
   }
   p{
    font-size: 14px;
   }
  }
}

.body-experience{
  @include pad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.experience-card-list{
  margin: 120px 0 0 160px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @include pad {
    margin: 0;
  }
}

.experience-card{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 64px;
  .card-body{
    display: flex;
    flex-direction: column;
    margin: 0 96px 0 96px;
    min-width: 160px;
  }
  @include pad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 326px;
    margin: 56px 0 0 0;
    .card-body{
      margin: 24px 0 24px 0;
    }
    h6{
      font-size: 20px;
    }
    h5{
      font-size: 24px;
    }
    p{
      font-size: 16px;
    }
  }
}

.information-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 88px 0 72px 0;
  margin-top: 160px;
  background: #243456;
  @include pad {
    p{
      max-width: 342px;
      text-align: center;
    }
  }
}

.email{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  h6{
    margin-left: 16px;
  }
  @include pad {
    h6{
      font-size: 20px;
    }
    p{
      font-size: 14px;
    }
  }
}

